<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/basic.css">
    <title>CrossmarX</title>
    <script src="/script.js" defer></script>
    
</head>
<body>
<header>
        <h1>CrossmarX Hand- Footprint Calculator</h1>
    </header>
