/* basis styling */
:root{
    --background: #272932;
    --text: #fcffff;
    --headTitles: #947EB0;
    --subTitles: #519879;
    --accent: #B05603;

    background: var(--background);
    font-family: halton, sans-serif;
}
html{
  overflow-x: hidden;
}


h1{
    font-size: 2rem;
    color: var(--headTitles);
    text-align: center;
}

h2{
    font-size: 1.5rem;
    color: var(--subTitles);
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
  }

p{
    font-family: halton-italic, sans-serif;
    font-size: 1em;
    color: var(--text);
    text-align: center;
}