body {
  background: #272932;
  font-family: halton, sans-serif;
}

/* ================================================ */
/* DASHBOARD PAGINA */
/* ================================================ */
.dashboard {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 0;
  grid-template-columns: 300px auto;
  grid-template-rows: 80px auto;
  grid-template-areas:
    "menu search"
    "menu content";

  & .introductie {
    text-align: center;
    margin: 1em;
    margin-top: 2em;

    & h3 {
      color: #947EB0;
    }
  }

  /* ================================================ */
  /* DASHBOARD LINKERKANT */
  /* ================================================ */

  .menu-wrap {
    grid-area: menu;
    padding-bottom: 3em;
    height: 100%;
    overflow: auto;
    border-right: 1px solid black;
    background-color: #ad97c9;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    & .user {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0 3em;

      & .user-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        & img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        & figcaption {
          margin: 0;
          padding: 0 0 0 1em;
          color: var(--white);
          font-weight: 700;
          font-size: 0.875em;
          line-height: 100%;
        }
      }
    }
  }

  nav {
    display: block;
    padding: 0 1.2em;
    margin: 0;

    & section {
      display: block;
      padding: 3em 0 0;
    }

    & .toolbox {
      background-color: #272932;
      border-radius: 4px;
      width: 250px;
      text-wrap: nowrap;
      padding: 8px;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      transition: all 0.5s ease;
    }

    .toolbox:hover {
      background-color: #545454;
      border-radius: 8px;
    }

    .toolbox:active {
      transform: translateY(20px);
    }

    ul {
      display: block;
      padding: 0;
      margin: 0;
    }

    li {
      display: block;
      padding: 0;
      margin: 1em 0 0;

      & a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        text-decoration: none;
        font-weight: 600;
        font-size: 0.875em;
        transition: color 0.15s ease;

        & a.hover svg {
          display: block;
          margin-right: 1em;

          path,
          circle {
            fill: lighten(white, 10%);
            transition: fill 0.15s ease;
          }
        }
      }
    }
  }
}

/* ================================================ */
/* DASHBOARD MIDDEN */
/* ================================================ */
.content-wrap {
  grid-area: content;
  padding: 1em;
  overflow: auto;
}

hr {
  background-color: #947EB0;
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  height: 4px;
}
.scores {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.handprint {
  background-color: #519879;
  width: 100%;
  height: 30em;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.footprint {
  background-color: #b05603;
  width: 100%;
  height: 30em;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sdg-carrousel {
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 1rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
}

.carrousel-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;

}

.carrousel-item {
  flex: 0 0 auto;
  scroll-snap-align: center;
  margin-right: 1.5rem;
}

.card {
  width: 35em;
  height: 20em;
  border-radius: 30px;
  padding: 1rem;
  text-align: center;
  background-color: #2f3138;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  & h2 {
    color: white;
  }
}

picture {
  & img {
    /* border: 2px solid black; */
    border-radius: 5px;
  }
}

.kaas {
  margin-top: 20em; /* Deze regel zorgt ervoor dat de .bottom-content div altijd aan de onderkant van de header blijft */
}

/* ================================================ */
/* STAKEHOLDER PAGINA */
/* ================================================ */

select {
  padding: 1em;
  border-radius: 20px;
}

input {
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  cursor: pointer;
  transition: all 0.5s;
}

input:hover {
  background-color: #7e49c3;
  transform: scale(1.05);
}

.sdgarticle {
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-top: 2em;
  margin-bottom: 5em;
}

.flex {
  display: flex;
  justify-content: center;

  & h1 {
    color: white;
  }
}

.company {
  padding: 1em;
  background-color: var(--primarypurple);
  margin-right: 1em;
  border-radius: 20px;
  width: 15em;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  width: 50%;
  margin: 1em;
  display: inline-flex;
  background: var(--background-color);
  align-items: center;
  border-radius: 5px;
}

.wrapper .option {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  height: 3em;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}

.option:hover {
  background-color: #b2a0c8;
}

.wrapper .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #9c7cc7;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}

input[type="radio"] {
  display: none;
}

.option {
  display: inline-block;
  cursor: pointer;
}

.option span {
  font-size: 20px;
  color: #808080;
}

.option-1,
.option-2,
.option-3,
.option-4,
.option-5 {
  background: white;
}

input[type="radio"]:checked + label {
  background-color: var(--background-color);
  color: white;
}

label {
  color: white;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin-left: 2em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.field {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  width: 100%;
}

textarea {
  border-radius: 5px;
  background-color: lightgrey;
  resize: none;
}

button {
  width: 50%;
  padding: 1em;
  padding-left: 7em;
  padding-right: 7em;
  border-radius: 20px;
  width: 100%;
  border: solid black 1px;
  background-color: var(--primarypurple);
  cursor: pointer;
}

.succesvol {
  color: lightgreen;
}

.introductie {
  text-align: center;
  margin: 1em;
  margin-top: 2em;
}
